html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: #333;
  background:#fafafa;
}

/* HEADER */
header, footer {
  padding: 20px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

/* MAIN CENTER BOX */
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  text-align: center;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

p {
  max-width: 500px;
  margin: auto;
  line-height: 1.5;
}

/* BUTTONS */
.actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

button {
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background: #444;
  color: white;
  cursor: pointer;
}
button:hover {
  background: black;
}
footer {
  padding: 20px;
  font-size: 22px;
  display: flex;
  justify-content: center;   /* Centers horizontally */
  align-items: center;       /* Centers vertically */
  text-align: center;
}