body{
    font-family: Arial;
    margin:0;
    background:#fff;
}

/* Top Header Bar */
.header{
    display:flex;
    justify-content:space-between;
    padding:25px 40px;
    font-size:28px;
    font-weight:600;
}

/* Center Section */
.container{
    width:60%;
    margin: auto;
    margin-top:10px;
    text-align:left;
}

.container h2{
    text-align:center;
}

.label{
    font-weight:600;
    margin-top:20px;
    margin-bottom:8px;
}

.name-box{
    display:flex;
    gap:10px;
}

input{
    padding:10px;
    font-size:14px;
    width:100%;
    border-radius:4px;
    border:1px solid #aaa;
}

/* Button */
button{
    background:#3a3a3a;
    border:none;
    padding:10px 25px;
    color:white;
    border-radius:4px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    background:black;
}

/* Footer */
.footer{
    margin-top:60px;
    text-align:center;
    font-size:28px;
}