 body{
        margin:0;
        font-family: Arial, Helvetica, sans-serif;
        min-height:100vh;
        display:flex;
        flex-direction:column;
    }

    /* Header */
    header{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:25px 40px;
        font-size:26px;
        font-weight:bold;
    }

    /* Main Center Section */
    .container{
        max-width:700px;
        width:90%;
        margin:auto;
        text-align:center;
    }

    .box{
        border:1px solid #444;
        padding:25px;
        margin-top:25px;
        border-radius:4px;
    }

    .box h2{
        margin:0 0 10px 0;
        font-size:20px;
    }

    .btn-group{
        margin-top:25px;
        display:flex;
        justify-content:center;
        gap:40px;
    }

    button{
        background:#333;
        color:white;
        border:none;
        padding:12px 25px;
        font-size:16px;
        border-radius:6px;
        cursor:pointer;
    }

    button:hover{
        background:#555;
    }

    /* Footer */
    footer{
        margin-top:auto;
        text-align:center;
        padding:25px 0;
        font-size:24px;
        font-weight:500;
    }