body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    font-size: 26px;
    font-weight: bold;
}

/* Footer */
.footer {
    margin-top: auto;
    text-align: center;
    padding: 25px 0;
    font-size: 24px;
    font-weight: 500;
}
