    body { font-family: sans-serif; margin: 0; color: #333; display: flex; flex-direction: column; min-height: 100vh;   background:#f3f3f3; }
        .header { display: flex; justify-content: space-between; padding: 40px 60px; }
        .logo, .contact { font-size: 32px; font-weight: bold; }
        .footer { text-align: center; padding: 60px; font-size: 32px; color: #444; margin-top: auto; }

        .container { max-width: 600px; margin: 40px auto; text-align: center; }

        /* Boxed Sections */
        .info-box {
            border: 1px solid #333;
            padding: 20px;
            margin-bottom: 25px;
            text-align: center;
        }
        .options-box {
            border: 1px solid #333;
            padding: 20px;
            text-align: left;
            margin-bottom: 30px;
        }
        .options-box p { margin: 5px 0; font-size: 14px; color: #555; }

        /* Button Container */
        .btn-row { display: flex; justify-content: center; gap: 40px; }
        .btn-dark { 
            background-color: #444; color: white; border: none; 
            padding: 12px 30px; border-radius: 5px; cursor: pointer; font-size: 16px; 
        }