 body{
        font-family: Arial, sans-serif;
        margin:0;
        background:#f3f3f3;
    }

   .header{
    display:flex;
    justify-content:space-between;
    padding:25px 40px;
    font-size:22px;
    font-weight:bold;
    color:#333;
}
    .container{
        width:100%;
        height:70vh;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .card{
        width:60%;
        max-width:600px;
        background:white;
        padding:40px;
        text-align:center;
        border-radius:10px;
        box-shadow:0 0 15px rgba(0,0,0,0.1);
    }

    h2{
        margin-bottom:10px;
        color:#333;
    }

    p{
        color:#555;
        font-size:14px;
        line-height:1.6;
    }

    .email{
        font-weight:bold;
        color:#333;
;
    }

   button{
    margin-top:20px;
    padding:12px 30px;
    font-size:18px;
    border:none;
    border-radius:5px;
    background:#333;
    color:white;
    cursor:pointer;
}

    button:hover{
        opacity:0.9;
    }
